app = "acarius-chat-fly"
primary_region = "fra"  # Frankfurt (ближе к России)

[build]

[http_service]
  internal_port = 3000
  force_https = true
  
  [[http_service.checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "5s"
    method = "GET"
    path = "/api/test"
